.flex-container {
    display: flex;

}

.flex-child {
    flex: 1;
    border: 2px;
}  

.flex-child:first-child {
    margin-right: 20px;

}
.flex-child green {
	padding-left:200px;

} 

ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
	display: inline;
}

.kuutio {
  width: 100%;
  height: 300px;
}

body{
	word-wrap: break-word;
	width: 1200px;
    padding-left:200px;


}
div {
   word-wrap: break-word;
   width: 500px;
}

p {
	font-size:12px;
}
video {margin: 50px;
		}
	
.glyphicon {
	
	padding:5px;
}
footer {
	font-size: 10px;
	width: 100%;  
	background:#ffab62;
    height:100px;
    position:absolute;
    left:0;
	text-align:center;
	}
.osoite {margin: 60px;
		
}
h2 {
  text-shadow: 1px 1px orange;
  font-size:28px;
}
	
a:hover { color: red;   transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 1s;}


.row {		
	color: white;
	font-size: 20px;
	background-color: black;
	font-family: aerial;
	text-align: center;
}
.flex-container {
    display: flex;

}

.flex-child {
    flex: 1;
    border: 2px;
}  

.flex-child:first-child {
    margin-right: 20px;

}
.flex-child green {
	padding-left:200px;

} 

.kuutio {
  width: 100%;
  height: 300px;
}

